main {
    overflow: hidden;
}

.main__section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head__section__slide__container {
    width: 100%;
}

.section__wrap {
    width: 100%;
    max-width: 1170px;
}

.head__section__slide__container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.head__section__slide__img {
    max-width: 100%;
}

.section__content__wrap {
    width: 100%;
    height: 100%;
    max-width: 1170px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    flex-direction: column;
}

.head__section__text {
    text-align: left;
    margin-bottom: -75px;
    margin-top: 70px;
}

.head__section__text_title {
    font-family: Gilroy;
    font-size: 42px;
    line-height: 50px;
    color: #1F3744;
    width: 100%;
}

.head__section__text__description {
    font-family: Corsa Grotesk;
    font-size: 18px;
    line-height: 32px;
    color: #3C445E;
    width: 100%;
}

.head__section__button__wrap {
    width: 100%;
    text-align: left;
}

.button_orange {
    background: linear-gradient(180deg, #FFCF41 0%, #F6BE1A 100%);
    border-radius: 34px;
    /*padding: 26px 49px 21px;*/
    font-family: Gilroy;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    color: #1F3744;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.button_orange:hover {
    background: linear-gradient(180deg, #efb816 0%, #F6BE1A 100%);
}

.button__head__section {
    width: 270px;
}

.head__section__our__profi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    background: rgba(255, 255, 255, 0.7);
    filter: blur(8px);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 53px;
    padding-right: 53px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-bottom: -10px;
}

.head__section__our__profi__block {
    display: flex;
    align-items: center;
}

.our__profi__icon {
    margin-right: 5px;
}

.our__profi__text {
    font-family: Corsa Grotesk;
    font-size: 14px;
    line-height: 20px;
    color: #3C445E;
}

.main__section__title__h3 {
    font-family: Gilroy;
    font-size: 34px;
    line-height: 41px;
    text-align: center;
    color: #1F3744;
}

.main__section__description {
    font-family: Corsa Grotesk;
    font-size: 18px;
    line-height: 182%;
    text-align: center;
    color: #3C445E;
}

/* Секция Наши услуги */

.section__our__servises {
    padding-top: 100px;
    padding-bottom: 100px;
}

.our__servises__text {
    text-align: center;
}

.our__servises__text__title {

}

.our__servises__text__description {
    height: 66px;
    margin-bottom: 50px;
}

.our__servises__items_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.our__servises__item__block {
    width: 100%;
    max-width: 370px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.our__servises__item__text {
    position: absolute;
    font-family: Gilroy;
    font-size: 20px;
    line-height: 130%;
    color: #1F3744;
    width: 100%;
    max-width: 330px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    filter: blur(6px);
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 20px;
    bottom: 20px;
}

.read__more {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #163993;
    cursor: pointer;
    margin-top: 22px;
}

/* Секция Наши услуги end */

/* Секция Помощь эксперта */

.section__help__expert {
    position: relative;
    overflow: hidden;
    background: #EFF6FB;
}

.section__help__expert__bg__left {
    position: absolute;
    bottom: -35px;
    left: 0;
}

.section__help__expert__bg__right {
    position: absolute;
    top: 0;
    right: 0;
}

.section__help__expert__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.section__help__expert__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.help__expert__text__description {
    text-align: left;
    margin-bottom: 40px;
}

.help__expert__enter__tel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.help__user__enter__tel {
    background: #fff;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    border-radius: 34px;
    height: 66px;
    outline: none;
    border: none;
    font-family: Corsa Grotesk;
    font-size: 16px;
    line-height: 100%;
    color: #656F86;
    padding-left: 26px;
    width: 67%;
    margin-right: -63px;
}

.button__enter__tel {
    width: 220px;
}

.section__help__expert__img {
    position: relative;
    right: -65px;
}

/* Секция Помощь эксперта end */

/* Секция Гарантии и преимущества */
.section__warranties {
    padding-top: 100px;
    padding-bottom: 100px;
}

.section__warranties__container {
    background: #EFF6FB;
    padding: 80px 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
}

.section__warranties__litle__logo {
    font-family: Corsa Grotesk;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #163993;
}

.section__warranties__block__items {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section__warranties__block__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 30px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 1;
}

.section-title__h4 {
    font-family: Gilroy;
    font-size: 20px;
    line-height: 130%;
    color: #1F3744;
}

.warranties__block__content__text {
    font-family: Corsa Grotesk;
    font-size: 16px;
    line-height: 172%;
    color: #3C445E;
}

.section__warranties__block__icon {
    margin-right: 40px;
}

.section__warranties__container__bg__left {
    bottom: -22px;
}

.section__warranties__container__bg__right {

}

/* Секция Гарантии и преимущества end */

/* Секция Нашими красками покрашены */

.section__ourColorWork {
    overflow: hidden;
}

.section__ourColorWork__cont {
    padding-bottom: 100px;
}

.swiper-container2 {
    overflow: visible;
}

.section__ourColorWork__title {
    text-align: left;
}

.ourColorWork__item__block {
    width: 100%;
    max-width: 570px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.ourColorWork__item__img {
    max-width: 100%;
}

.ourColorWork__item__text {
    position: absolute;
    max-width: 530px;
    font-family: Gilroy;
    font-size: 20px;
    line-height: 130%;
    color: #1F3744;
    text-align: left;
    width: 100%;
    max-width: 570px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.8);
    filter: blur(6px);
    border-radius: 5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    left: 20px;
    bottom: 20px;
}


.ourColorWork__item__text p {
    margin-bottom: 0;
}

.ourColorWork__item__text_read_more {
    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #163993;
}

/* Секция Нашими красками покрашены end */